@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,700;1,800;1,900&display=swap');

.content-wrapper{
max-width:1280px;
margin-left:auto;
padding-left: 20px;
padding-right: 20px;
flex-basis: 100%;
margin-right:auto;
}
.module-one
{
background-image: url(https://www.lowandslowsmokehouse.com/hubfs/Low%20and%20Slow%20Smokehouse%20Assets/Home/dish%20%281%29.png);
background-position: center; 
background-repeat: no-repeat;
background-size: cover;
position: relative;
z-index: 1;
}

.module-one .overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: #231F20;
opacity: 0.3;
z-index: -1;
}
.container-one
{
padding: 150px 0px 150px;
margin-top: 52px;
}
.container
{
background-color: #F1F2F2;
padding: 37px 0 50px;
}
.cards
{
display: flex;
flex-wrap: wrap;
align-items: stretch;
justify-content: center;
margin-top: 37px;
}
.card-left
{
flex-basis: 25.5%;
margin-right: 100px;
line-height: 37px;
font-size: 16px;
}
.card-right
{
flex-basis: 30%;
line-height: 37px;
font-size: 16px;
}
.event
{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 20px;
flex-wrap: wrap;
}
.left_card
{
flex-basis: 40%;
background-color:#1F2D60;
font-size: 20px;
color: #fff;
text-align: center;
}
.right_card
{
flex-basis: 59%;
margin-left: 1%;
background-color:#7A0306;
font-size: 20px;
color: #fff;
text-align: center;
}
.event img,button,p
{
margin-top:20px;
}
.card-button a
{
    font-size: 16px;
    color: #231F20;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    border-bottom: 3px solid #C15D26;
    display: inline-block;
}
.card-button a:hover
{
    color: #C15D26;
}
#left_underline p
{
    border-bottom: 3px solid #C15D26;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
}
#left_underline p:hover{
    color: #C15D26; 
}
.container_two
{
    padding-top: 140px;
}
.flex-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.pepsi img{
    height: 100%;
    width: 100%;}
.bbq img
{
    height: 100%;
    width: 100%;
}
.bbq
{
    flex-basis: 50%;
    /* max-width: 179px;
    max-height: 189px; */
    /* margin-right: 50px; */
}
.pepsi{
    flex-basis: 50%;
    /* max-width: 170px;
    max-height: 223px; */
}
.flex-box p{
    font-size: 15px;
    font-weight: bold;
}
.center
{
    padding-top: 20px;
}
.module-four .container_two {
max-width: 834px;
margin: 0 auto;
text-align: center;
}
.common
{
    padding: 0px 20px 100px;
}


/* media quiere for tablet */

@media  (min-width: 768px) and (max-width: 1024px){
    .cards
{
display: flex;
flex-wrap: wrap;
align-items: stretch;
justify-content: center;
margin-top: 30px;
}
.card-left
{
flex-basis: 40%;
margin-right: 100px;
line-height: 37px;
font-size: 16px;
}
.card-right
{
flex-basis: 40%;
line-height: 37px;
font-size: 16px;
}


} 
/* mobile */
@media (max-width:767px){
.cards
{
display: block;
}

.card-left
{
flex-basis: 100%;
line-height: 37px;
font-size: 16px;
margin-right: 0;
}
.card-right
{
flex-basis: 100%;
line-height: 37px;
margin-top: 60px;
font-size: 16px;
}
h2{
font-size: 26px;
line-height: 40px;
}
.event {
display: block;
flex-direction: column;
margin-top: 20px;
}
.right_card
{
margin-left: 0;
width: 100%;
}
.left_card
{
width: 100%;
}
.right_card
{
flex-basis: 59%;
background-color:#7A0306;
font-size: 20px;
color: #fff;
text-align: center;
padding-bottom: 50px;
margin-left: 0%;

}

}


