@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,700;1,800;1,900&display=swap');


.content-wrapper{
max-width:1280px;
margin-left:auto;
padding-left: 20px;
padding-right: 20px;
flex-basis: 100%;
margin-right:auto;
}
.module-one{
background-image: url(https://www.lowandslowsmokehouse.com/hubfs/Low%20and%20Slow%20Smokehouse%20Assets/Home/dish%20%281%29.png);
background-position: center; 
background-repeat: no-repeat;
background-size: cover;
position: relative;
z-index: 1;
}

.module-one .overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: #231F20;
opacity: 0.3;
z-index: -1;
}
.module-one .container-one{
padding: 150px 0px 150px;
}
.module-two .container{
background-color: #F1F2F2;
padding: 55px 0 50px;
}
.module-two .cards{
display: flex;
flex-wrap: wrap;
align-items: stretch;
justify-content: center;
margin-top: 37px;
}
.module-two .card-left{
flex-basis: 25.5%;
margin-right: 100px;
line-height: 37px;
font-size: 16px;
}
.module-two .card-right{
flex-basis: 30%;
line-height: 37px;
font-size: 16px;
}
.module-three .event{
display: flex;
justify-content: center;
margin-top: 20px;
flex-wrap: wrap;
}
.module-three .left_card{
flex-basis: 40%;
background-color:#1F2D60;
font-size: 20px;
color: #fff;
text-align: center;
}
.module-three .right_card{
flex-basis: 59%;
margin-left: 1%;
background-color:#7A0306;
font-size: 20px;
color: #fff;
text-align: center;
}
.module-three .event img,button,p{
margin-top:20px;
}
.module-two .card-button a{
padding: 10px 0px 0px 0px;
font-size: 16px;
color: #231F20;
font-weight: bold;
position: relative;
text-decoration: none;
border-bottom: 3px solid #C15D26;
display: inline-block;
}
.module-two .card-button a:hover{
color: #C15D26;
}
#left_underline a{
border-bottom: 3px solid #C15D26;
display: inline-block;
font-weight: 500;
font-size: 16px;
cursor: pointer;
text-decoration: none;
color: #fff;
}
#left_underline a:hover{
color: #C15D26; 
text-decoration: none;
}
.module-three .space {
margin-top: 40px;
}
.module-four .container_two{
padding-top: 140px;
}
.module-four .flex-box{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-wrap: wrap;
}
.module-four .pepsi img{
height: 100%;
width: 100%;}
.module-four .bbq img{
height: 100%;
width: 100%;
}
.module-four .bbq{
flex-basis: 35%;
}
.module-four .pepsi{
flex-basis: 35%;
}
.module-four .image1 {
max-width: 196px;
margin: 0 auto;
width: 100%;
}

.module-four .image2 {
max-width: 170px;
margin: 0  auto;
}
.module-four .flex-box p{
font-size: 15px;
font-weight: bold;
}
.module-four .center{
padding-top: 20px;
}
.module-four .container_two {
max-width: 834px;
margin: 0 auto;
text-align: center;
}
.module-three .common
{
padding: 0px 20px 100px;
}
.module-five .container-three{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: stretch;
flex-basis: 100%;
padding-top: 100px;
}
.module-five .rocket{
flex-basis: 40%;
position: relative;
}
.module-five .bg-image {
margin: 0 auto;
width: 100%;
min-height: 383px;
position: relative;
max-width: 270px
}
.module-five .content h2{
color: #0F2949;
font-size: 60px;
line-height: 73px;
}
.module-five .content {
font-family: filson-soft,sans-serif;
font-weight: 700;
font-style: normal;
padding-top: 20px;
position: absolute;
width: 100%;
max-width: 386px;
top: 51%;
left: 53%;
transform: translate(-50%, -50%);
}
.module-five .fire{
margin-left: 10%;
flex-basis: 50%;
width: 100%;
}
.module-five .fire-image img{
width: 100%;
max-width: 85px;
height: auto;
}
.module-five .fire-image {
width: 100%;
max-width: 85px;
}
.module-five .div-content{
max-width: 484px;
}
.module-five .heading-content h2{
text-align: start;
font-family: filson-soft,sans-serif;
font-weight: 700;
font-size: 48px;
line-height: 80px;
}
.module-five .content-p{
padding-bottom: 53px;
}
section.module-five {
padding-bottom: 130px;
}    
.module-six{
width: 100%;
min-height: 467px;
padding: 60px 0px;
}
.module-six .bring-meet{
max-width: 494px;
}
.module-six .box-content h5{
font-family: 'Bello-pro';
font-size: 58px;
color: #C15D26;
text-shadow:4px 4px #fff;   
}
.module-six .box-content h3{
font-size: 26px;
}
.module-six .box-content p{
color: #F1F2F2;
font-size: 18px;
line-height: 21px;
padding-bottom: 35px;
}

.module-six .box-content {
position: relative;
z-index: 1;
padding: 45px 20px 49px 20px;
}

.module-six .box-content:after {
content: "";
position: absolute;
right: 0;
top: 0;
left: 0;
bottom: 0;
opacity: 0.83;
background-color: #231F20;
z-index: -1;
}
.module-seven{
padding: 100px 0px 100px 0px;
}
.module-seven .containerfour-content{
max-width: 834px;
text-align: center;
margin: 0 auto;
}

.module-six .container-fourrr{
max-width: 1058px;
margin: 0 auto;
}
.module-eight{
padding: 0px 0px 100px 0px;
}
.module-eight .fan-image{
width: 100%;
}
.module-eight .fan-image img{
max-width: 70px;}

.module-eight .container-five{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
max-width: 1058px;
margin: 0 auto;
}
.module-eight .fan-bg{
flex-basis: 48%;
}
.module-eight .barbeque{
flex-basis: 50%;
}
.module-eight .image-heading h2{
font-size: 48px;
color: #231F20;
line-height: 80px;
text-align: start;
}
.module-eight .image-content{
max-width: 468px;
}
.module-eight .barbeque{
padding: 100px 0px 0px 0px;
}
.module-eight .secondary-button{
margin-top: 100px;
}
.module-nine .bg-img{
min-height: 367px;
max-width: 418px;
/* min-width: 418px; */
width: 100%;
margin-right: 13px;
position: relative;
z-index: 1;
}
.module-nine ul.slick-dots {
position: absolute;
display: inline-flex !important;
left: 54.3%;
top: 100%;
align-items: center;
list-style: none;
margin-top: 46px;
transform: translate(-66%, 44%);
}

section.module-nine {
position: relative;
}
.module-nine .bg-img:after {
content: "";
left: 0;
right: 0;
top: 0;
bottom: 0;
background-color: #000000;
position: absolute;
z-index: -1;
opacity: 0.3;
}

.module-nine ul.slick-dots li {
margin-bottom: 15px!important;
height: 10px;
width: 10px;
margin-right: 18px;
background-color: #333;
border-radius: 50%;
cursor: pointer;
}

.module-nine ul.slick-dots li button {
border: 0;
background: transparent;
display: block;
height: 20px;
width: 20px;
outline: 0;
line-height: 0;
font-size: 0;
padding: 5px;
cursor: pointer;
margin: 0 auto;
min-width: auto;
}
.module-nine ul.slick-dots li.slick-active {
height: 13px;
width: 13px;
background-color: #0f15c3;
}
.module-nine{
    padding: 0px 0px 130px 0px;
}
.module-ten .visitors-cards{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    padding:90px 0px 140px 0px;
}
.module-ten .visitors h2{
    font-size: 48px;
    line-height: 80px;
}
.module-ten .container-six{
    max-width: 1204px;
}
.module-ten .visitor-content{
    background-color: #F1F2F2;
    text-align: center;
    padding: 30px 25px 30px 25px ;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #231F20;
}
.module-ten .box:nth-child(3n+3) {
    margin-right: 0;
}
.module-ten .box {
    flex-basis: 32%;
    margin-right: 2%;
}
.module-ten .visitor-name p{
    text-align: center;
}
.module-ten .review-google a{
color: #FFFFFF;
background-color: #C15D26;
padding: 10px 27px 10px 25px;
border:none;
font-size:18px;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
cursor: pointer;
transition: 0.3s all;
text-decoration: none;
display: inline-block;
text-align: center;
}
.module-ten .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    text-rendering: auto;
    padding-right: 10px;
    vertical-align: middle;
}
.module-ten .review-google{
    margin-top:  10px;
    text-align: center;
}
.module-ten ul.slick-dots {
    position: absolute;
    display: inline-flex !important;
    left: 54.3%;
    top: 80%;
    align-items: center;
    list-style: none;
    transform: translate(-66%, 44%);
    }
    .module-ten ul.slick-dots li {
    margin-bottom: 15px!important;
    height: 10px;
    width: 10px;
    margin-right: 18px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    }

    .module-ten ul.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: 0;
    line-height: 0;
    font-size: 0;
    padding: 5px;
    cursor: pointer;
    margin: 0 auto;
    min-width: auto;
    }
    .module-ten ul.slick-dots li.slick-active {
    height: 13px;
    width: 13px;
    background-color: #0f15c3;    }
    .module-eleven .follow-us{
        line-height: 80px;
    }
    .module-eleven .follow-us p{
        text-align: center;
        max-width: 419px;
        margin: 0 auto;
        font-size: 18px;
        line-height: 30px;

    }
    .module-eleven .socialmedia{
        text-align: center;
        margin: 0 auto;
        color: #C15D26;
        font-weight: bold;
    }

    section.module-twelve {
        padding: 80px 0px;
    }
    
    .module-twelve .fancy-box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .module-twelve .flex {
        flex-basis: 23%;
    }
    .bg-pop-img {
        min-height: 250px;
        position: relative;
        width: 100%;
    }
    .module-twelve .flex:not(:nth-child(4n+4)) {
        margin-right: 2.4%;
    }
    
    .module-twelve   .container-eight {
        max-width: 1094px;
        margin: 0 auto;
    }
    .module-thirteen .timings{
        display:flex;
        align-items:stretch;
        justify-content: center;
        flex-wrap: wrap; 
        padding: 10px 0px 100px 0px;
        }
    .module-thirteen .boxs{
        flex-basis: 33.3%;
        padding: 150px 0px 150px 0px;
    }
    .module-thirteen .middle-one{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .module-thirteen .middle-card{
        min-height: 506px;
        text-align: center;
        color: #fff;
        position: relative;
        z-index: 1;
    }
    .module-thirteen .time p{
        line-height: 10px;
        font-size: 20px;
    }
    .module-thirteen .leftcard {
        background-color:#1F2D60;
        font-size: 20px;
        color: #fff;
        min-height: 506px;
        text-align: center;
    }
    .module-thirteen .boxs p{
        line-height: 10px;
    }
    .module-thirteen .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #231F20;
        opacity: 0.4;
        z-index: -1;
        }
 #left_underline{
    padding: 35px 0px 0px 0px;
}
.module-thirteen ul.slick-dots {
    position: absolute;
    display: inline-flex !important;
    left: 54.3%;
    top: 88%;
    align-items: center;
    list-style: none;
    transform: translate(-66%, 44%);
    }
    .module-thirteen ul.slick-dots li {
    margin-bottom: 15px!important;
    height: 10px;
    width: 10px;
    margin-right: 18px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    }

    .module-thirteen ul.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: 0;
    line-height: 0;
    font-size: 0;
    padding: 5px;
    cursor: pointer;
    margin: 0 auto;
    min-width: auto;
    }
    .module-thirteen ul.slick-dots li.slick-active {
    height: 13px;
    width: 13px;
    background-color: #0f15c3;    }

        









/* media queries for tablet */

@media  (min-width: 768px) and (max-width: 1024px){
.module-two .cards{
display: flex;
flex-wrap: wrap;
align-items: stretch;
justify-content: center;
margin-top: 30px;
}
.module-two .card-left{
flex-basis: 40%;
margin-right: 100px;
line-height: 37px;
font-size: 16px;
}
.module-two .card-right{
flex-basis: 40%;
line-height: 37px;
font-size: 16px;
}
.module-five .rocket{
flex-basis: 38%;
position: relative;
} 
.module-eight .fan-bg {
    flex-basis: 42%;
}
.module-ten .visitors-cards {
    padding: 35px 0px 140px 0px;
} 
.module-thirteen .timings{
    display:flex;
    align-items:stretch;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0px 100px 0px;
    }
    .module-thirteen .boxs p {
        line-height: 28px;
    }
.module-thirteen .time p{
    line-height: 19px;
    font-size: 20px;
}
.module-ten .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 23px;
    text-rendering: auto;
}
.module-ten .content-wrapper{
    padding: 0px;
}

.module-thirteen .boxs {
    flex-basis: 32.3%;
    padding: 250px 0px 50px 0px;
}
.module-thirteen .content-wrapper{
    padding:0px
}
.module-thirteen .content-wrapper{
    padding:0px
}
.module-thirteen .boxs h5{
    font-size: 38px;
}
.module-thirteen .boxs{
    flex-basis: 33.3%;
    padding: 150px 0px 150px 0px;
}
.module-thirteen .middle-card{
    /* min-height: 506px; */
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
    padding: 50px 0px 50px 0px;

}
.module-thirteen .leftcard {
    background-color:#1F2D60;
    font-size: 20px;
    color: #fff;
    /* min-height: 506px; */
    text-align: center;
}













} 















/* mobile */
@media (max-width:767px){    
    .module-one h1{
    line-height: 120px;
}
.module-two .cards{
display: block;
}
.module-two .card-left{
flex-basis: 100%;
line-height: 37px;
font-size: 16px;
margin-right: 0;
}
.module-two .card-right{
flex-basis: 100%;
line-height: 37px;
margin-top: 0px;
font-size: 16px;
}
h2{
font-size: 26px;
line-height: 40px;
}
.module-three .event{
display: block;
flex-direction: column;
margin-top: 20px;
}
.module-three .right_card{
margin-left: 0;
width: 100%;
}
.module-three .left_card{
width: 100%;
}
.module-two .card-right{
flex-basis: 30%;
line-height: 37px;
font-size: 16px;
}

.module-five .rocket{
flex-basis: 100%;
position: relative;
} 
.module-five .fire{
margin-left: 0px;
flex-basis: 40%;
width: 100%;
}

.module-five .container-three{
display: flex;
flex-wrap: wrap;
flex-direction: column;
flex-basis: 100%;
padding-top: 100px;
}
.module-five .heading-content h2{
text-align: start;
font-family: filson-soft,sans-serif;
font-weight: 700;
font-size: 30px;
line-height: 80px;
}
.module-four .bbq{
flex-basis: 100%;
}
.module-four .pepsi{
flex-basis: 100%;
}
.module-three .common h5{
font-family: 'Bello-pro';
font-size: 26px;
color: #fff;
}
section.module-five {
padding-bottom: 50px;
}
.module-four .container_two {
padding-top: 100px;
}
.module-thirteen .boxs {
    flex-basis: 33.3%;
    padding: 127px 0px 78px 0px;
}
.module-eight .container-five{
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1058px;
    margin: 0 auto;
    }
    .module-eight .fan-bg{
    flex-basis: 100%;
    }
    .module-eight .secondary-button {
        margin-top: 50px;
    }
        .module-eight .barbeque img{
            width:100%;
        
        }
        .module-ten .visitors h2 {
            font-size: 36px;
            line-height: 46px;
        }
        .module-ten .visitors-cards {
            padding: 50px 0px 100px 0px;
        }
        .module-ten .content-wrapper{
            padding: 0px;
        }
        .module-ten .box {
            flex-basis:100%;
            margin-right: 0%;
        }

        









}










@media (max-width: 480px){
    .module-one h1{
        line-height: 120px;
    }


    .module-two .card-left{
    flex-basis: 25.5%;
    line-height: 26px;
    font-size: 14px;
    }
    .module-two .card-right{
    flex-basis: 30%;
    line-height: 26px;
    font-size: 14px;
    }
    .module-three .event{
    margin-top: 0px;
    }
    .module-three .right_card{
    flex-basis: 59%;
    margin-left: 0%;
    background-color:#7A0306;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.module-eight .secondary-button{
    margin-top: 50px;
    }
    .module-ten .content-wrapper{
        padding: 0px;
    }    






.bg-image{
min-height: 395px;
} 
.module-five .rocket{
margin-bottom: 40px;
}
.module-four .container_two {

padding-top: 50px;
}
.module-four .pepsi img{
height: 100%;
width: 100%;}
.module-four .bbq img{
height: 100%;
width: 100%;
}
.module-seven{
padding: 50px 0px 50px 0px;
}
.module-eight .barbeque{
flex-basis: 100%;
}
.module-eight .barbeque img{
max-width: 280px;
}
.module-eight .image-heading h2{
font-size: 30px;
color: #231F20;
line-height: 40px;
text-align: start;
}
.module-eight .fan-bg{
flex-basis: 100%;
}  
.module-nine .bg-img{
min-height: 300px;
max-width: 100%;
margin-right:0;
}
.module-nine ul.slick-dots {
    position: absolute;
    display: inline-flex !important;
    left: 65.3%;
    top: 100%;
    align-items: center;
    list-style: none;
    margin-top: 46px;
    transform: translate(-66%, 44%);
    }
    
.module-eight .image-heading h2{
    font-size: 26px;
    color: #231F20;
    line-height: 40px;
    text-align: start;
    }
.module-eight .barbeque{
    flex-basis: 0%;
    margin: 0 auto;
}
.module-five .heading-content h2{
    text-align: start;
    font-family: filson-soft,sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    }
    .module-six .box-content h5{
        font-family: 'Bello-pro';
        font-size: 32px;
        color: #C15D26;
        text-shadow:4px 4px #fff;   
        }
        
    h4{
        color: #7A0306;
        font-family: 'Bello-pro';
        font-size: 38px;
        text-align: center;
        line-height: 77px;
        }

    .module-twelve .flex {
        flex-basis:47%;
        margin-top: 2%;
    }
    .bg-pop-img {
        min-height: 139px;
        position: relative;
        width: 100%;
    }
    .module-twelve .flex:not(:nth-child(2n+2)) {
        margin-right: 2.4%;
    }
    .module-twelve .flex:not(:nth-child(3n+3)) {
        margin-right: 2.4%;
    }
    .module-ten .visitors h2{
        font-size: 32px;
        line-height: 40px;
    }
    .module-five .content h2{
        color: #0F2949;
        font-size: 60px;
        line-height: 73px;
        }        
    .module-ten .visitors-cards {
        padding: 35px 0px 140px 0px;
    }  
    .module-thirteen .content-wrapper{
        padding:0px
    }
    .module-thirteen .boxs {
        padding: 150px 0px 150px 0px;
    }
    .module-thirteen .middle-card{
        /* min-height: 506px; */
        text-align: center;
        color: #fff;
        position: relative;
        z-index: 1;
        padding: 100px 0px 100px 0px;

    }
    .module-thirteen .leftcard {
        background-color:#1F2D60;
        font-size: 20px;
        color: #fff;
        /* min-height: 506px; */
        text-align: center;
    }
    .module-six{
        width: 100%;
        min-height: 467px;
        padding: 60px 0px;
        }
        .module-six .bring-meet{
        max-width: 100%px;
        }
        .module-six .box-content h5{
        font-family: 'Bello-pro';
        font-size: 58px;
        color: #C15D26;
        text-shadow:4px 4px #fff;   
        }
        .module-six .box-content h3{
        font-size: 26px;
        color: #000;
        }        
        .module-six .box-content {
        position: relative;
        z-index: 1;
        padding: 45px 20px 49px 20px;
        }
        
        .module-six .box-content:after {
        background-color:#FFFFFF;
        }
        .module-seven{
        padding: 100px 0px 100px 0px;
        }
        .module-six .container-fourrr {
            position: absolute;
            top: 100%;
            margin-top: 20px;
            left: 10px;
            right: 10px;
        }
        .module-six .box-content p {
            color: #000;
            font-size: 14px;
            line-height: 16px;
            padding-bottom: 35px;
            max-width: 316px;
        }
        .module-six {
            width: 100%;
            min-height: 467px;
            padding: 60px 0px;
            margin-bottom: 300px;
            position: relative;
            top: 31px;
        }
        .module-six .box-content h5{
            font-family: 'Bello-pro';
            font-size: 38px;
            color: #C15D26;
            text-shadow:4px 4px #fff;   
            }
            .module-six {
                width: 100%;
                min-height: 220px;
                padding: 60px 0px;
                margin-bottom: 300px
            ;
                position: relative;
                top: 31px;
            }
            .module-thirteen .boxs {
                padding: 150px 0px 50px 0px;
            }
            .module-eight .container-five{
                display: block;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                max-width: 1058px;
                margin: 0 auto;
                }
                .module-eight .fan-bg{
                flex-basis: 100%;
                }
                .module-ten .box {
                    flex-basis:100%;
                    margin-right: 0%;
                }
                
                




    


            






}
